html, body, table, tr, th, td {
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    border:0;
    border-collapse: collapse;
    text-align: center;
}

a {
    padding: 0.5em;
    background: #7F7F7F;
    color: white;
    border-radius: 10em;
    text-decoration: none;
    display:inline-block;
}

a:hover {
    background: #FFC900;
    color: black;
}

table {
    display: inline-block;
    margin-bottom: -0.3em;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

th {
    background: #FFC900;
    border-bottom: 0.1em solid black;
    min-width: 10em;
}

th.centered, td.centered {
    text-align: center;
}

tr.dark {
    background: #ffe481;
}

div.frameTop, div.frameBottom {
    background: #FFC900;
    height:1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

div.frameBottom {
    background: #ffe481;
    height:1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#header {
    padding: 1em;
}

#navbar {
    padding:0em 1em 1em 2em;
}

#header, #content {
    padding-left: 2em;
}

.button:hover {
    cursor: pointer;
}

form {
    min-width: 20em;
    display: inline-block;
    background: #ffe481;
}

form div.header {
    padding: 0.5em;
    text-align: left;
    background: #FFC900;
    border-bottom: 0.1em solid black;
    min-width: 10em;
    font-weight: bold;
    text-align: center;
}

form div.content {
    padding: 1em 1em 0 1em;
    text-align: left;
}

form label, form input, form textarea {
    display: block;
    min-width:100%;
    margin:0.5em 0 2em 0;
}

form label {
    margin-bottom:0.5em;
}

