{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block title %}
    Secrets
{% endblock %}

{% block content %}

    {% set altDark = {'value': 0} %}

    <div style="display:inline-block; min-width: 0;">
        <div class="frameTop"></div>
        <table>
            <tr>
                <th class="centered">Ref</th>
                <th>encRKey</th>
                <th>Description</th>
                <th></th>
            </tr>
            {% for secret in secrets %}
            
                {% if altDark.value == 1 %}
                    <tr class="dark">
                {% else %}
                    <tr>
                {% endif %}
                    
                        <td class="centered">{{ secret.id }}</td>
                        <td>{{ secret.remote_key_alias }}</td>
                        <td>{{ secret.description }}</td>
                        <td class="centered"><span class="glyphicon glyphicon-trash button" onclick="deleteSecret(this)" data-url="{{ url_for('_delete') }}" data-return-url="{{ url_for('_manage') }}" data-secret-id="{{ secret.id }}"></span></td>
                    </tr>
                
                {% if altDark.update({'value': 1 - altDark.value }) %}{% endif %}

            {% endfor %}

        </table>
        <div class="frameBottom"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='manage.js') }}"></script>
{% endblock %}